<!DOCTYPE html>
<html>
<body>
    <h1>Cart</h1>
    {% block content %}
    {% if cartList %}
    {% for cartItem in cartList %}
        <ul>
            <li>Ticket: {{cartItem.ticket}}</li>
            <li>Quantity: {{cartItem.quantity}}</li>
            <li>Offer: {{cartItem.offer}}</li>
            <li>Total Price: {{cartItem.total_price}}</li>

            <form action="/cart/{{cartItem.id}}">
                <input type="submit" value="Delete">
            </form>
        </ul>
    {% endfor %}
        <a href = '/cart/checkout' class="btn btn-transparent btn-lg">Check Out</a>
    {% else %}
        <p>Cart Empty
        </p>
    {% endif %}
    {% endblock %}
</body>
</html>