
{%load static from staticfiles %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Cart</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

    <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <nav class="topbar-menu">
                            <ul class="list-inline">
                                <li>Follow us: </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul><!-- end list -->
                        </nav><!-- end menu -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6">
                        <nav class="topbar-menu">
                            <ul class="list-inline text-right navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{% static 'us.png' %}" alt=""> English
                                    <span class="fa fa-angle-down"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><img src="{% static 'tr.png' %}" alt=""> Turkish</a></li>
                                        <li><a href="#"><img src="{% static 'si.png' %}" alt=""> Spanish</a></li>
                                        <li><a href="#"><img src="{% static 'it.png' %}" alt=""> Italian</a></li>
                                        <li><a href="#"><img src="{% static 'ae.png' %}" alt=""> Arabic</a></li>
                                        <li><a href="#"><img src="{% static 'de.png' %}" alt=""> German</a></li>
                                    </ul>
                                </li>
                                <li class="hidden-xs"><i class="fa fa-clock-o"></i> 08:00 - 17:00</li>
                                <li><i class="fa fa-phone"></i> +00 000 000 0000</li>
                            </ul><!-- end list -->
                        </nav><!-- end menu -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end topbar -->

        <header class="header site-header">
            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="{% static 'logo.png'%}" alt=""></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="/movies">Movies </a>
                                </li>
                                <li><a href="/theaters">Theaters</a></li>
                                <li><a href="/offers">Offers</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                {% if user.is_authenticated %}
								{% if user.id == 1 %}
								<li><a href="/users">Users</a></li>
								{% endif %}
								{% endif %}
                                <li></li>
                                {% if user.is_authenticated %}
                                <li><a href="/user">Profile</a></li>
                                <li><a href="/auth/signout">Sign Out</a></li>
                                <li class="active"><a href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
                                <li class="lastlink hidden-xs hidden-sm"><a class="btn btn-primary" href="/user/memberships"><i class="fa fa-user-plus"></i>Upgrade</a></li>
                                {% else %}
                                <li><a href="/auth/signin">Sign In</a></li>
                                <li class="lastlink hidden-xs hidden-sm"><a class="btn btn-primary" href="/auth/register"><i class="fa fa-user-plus"></i>Register</a></li>
                                {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav><!-- end nav -->
            </div><!-- end container -->
        </header><!-- end header -->
    </div>
    <section class="section bgcolor">
        <div class="container">
            <div class="row">	
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h1>Cart</h1>
                    <p class='lead'>Current items that have been added to cart. Either delete entries
                        if unneeded, or proceed to checkout and purchase.
                    </p>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
	</section><!-- end section -->

    <section class="section">
        <div class="container">
            <div class="row lightcasestudies">
                    {% if cartList %}
                    {% for cartItem in cartList %}
                    <div class="row callout bgcolor">
                        <div class="col-md-9">
                            <h3>{{cartItem.ticket}}</h3>
                            <small><b>Show Time: {{cartItem.time}}</b></small><br>
                            <small>Quantity: {{cartItem.quantity}}</small><br>
                            <small>Offer: {{cartItem.offer}}</small><br>
                            <small><b>Total Price: {{cartItem.total_price}}</b></small><br>
                        </div>
                        <div class="col-md-3">
                            <div class="button-wrap text-center">
                                <form action="/cart/{{cartItem.id}}">
                                    <input type="submit" value="Delete" class="btn btn-transparent btn-lg">
                                </form>
                            </div>
                        </div>
                    </div><br>
                    {% endfor %}
                    <div class="alignright">
                        <a href = '/cart/checkout' class="btn btn-transparent btn-lg">Check Out</a>
                    </div>
                    {% else %}
                    <div class="row callout lb nopad">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <p class='lead'>Cart is Currently Empty.
                            </p>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div><!-- end container -->
	</section><!-- end section -->

    <footer class="footer primary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="widget clearfix">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/">About Us</a></li>
                                <li><a href="/">Trademark</a></li>
                            </ul>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3">
                        <div class="widget clearfix">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li><a href="/movies">Movies</a></li>
                                <li><a href="/theaters">Theaters</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="/auth/signout">Sign Out</a></li>
                                <li><a href="/user">Profile</a></li>
                                <li><a href="/user/memberships">Upgrade</a></li>
                                {% else %}
                                <li><a href="/auth/signin">Sign In</a></li>
                                <li><a href="/auth/register">Register</a></li>
                                {% endif %}
                                
                            </ul>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Download</h4>
                    		<ul>
                    			<li><a href="#">MAC/OSX</a></li>
                    			<li><a href="#">Android</a></li>
                    			<li><a href="#">Windows</a></li>
                    			<li><a href="#">Google Play</a></li>
                    			<li><a href="#">Amazon</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Be Social</h4>
                    		<ul>
                    			<li><a href="#">Facebook</a></li>
                    			<li><a href="#">Twitter</a></li>
                    			<li><a href="#">Google+</a></li>
                    			<li><a href="#">Linkedin</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
           	</div><!-- end container -->
		</footer><!-- end primary-footer -->

		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2019&copy;<a href="#">MovieJazz</a>   MovieJazz INC. All rights reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="{% static 'parallax.js' %}"></script>
	<script src="{% static 'animate.js' %}"></script>
	<script src="{% static 'owl.carousel.js' %}"></script>
	<script src="{% static 'custom.js' %}"></script>
</body>
</html>