<!DOCTYPE >
<html>
    <head>
        <meta charset="utf-8"/>
        <title>memberships</title>
    </head>

    <body>
        <ul>
            <li>Monthly
                <ul>
                    <li>Price: 20$</li>
                    <li>Auto Renew: 15$</li>
                </ul>
            </li>
            <P><a href = 'memberships/purchase/1'> Do it! </a></P>
            <li>Yearly
                <ul>
                    <li>Price: 120$</li>
                    <li>Auto Renew: 100$</li>
                </ul>
            </li>
            <P><a href = 'memberships/purchase/2'> Do it! </a></P>
        </ul>
    </body>
</html>