<!DOCTYPE html>
<html>
<body>
    <h1>Ticket Reciepts</h1>
    {% block content %}
    {% if tranList %}
    {% for tranItem in tranList %}
        <ul>
            <li>Ticket: {{tranItem.ticket}}</li>
            <li>Quantity: {{tranItem.quantity}}</li>
            <li>Offer: {{tranItem.offer}}</li>
            <li>Total Price: {{tranItem.total_price}}</li>
        </ul>
    {% endfor %}
    {% else %}
        <p>No Tickets Reciepts
        </p>
    {% endif %}
    {% endblock %}
</body>
</html>