<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>FAQ</title>
    </head>
    <body>
        {% block content %}
        {% for each in questionList%}
        
            <h2>Type: {{each.subject}}</h2>
            <p>{{each.id}}. {{each.body}}</p>
            {% if each.answer != None%}
                <p>Answer: {{each.answer}}</p>
            {% else %}
                {% if user %}
                {% if user.membership == 'administrator' %}  
                <a href = "answer/{{each.id}}">Provide Answer</a>
                {% endif %}
                {% endif %}
            {% endif %}
            <br />
        {% endfor %}
        {% endblock %}
    </body>
</html>